.homeitems {
    display: grid;
    grid-template-columns: 74.5% 23%;
    z-index: 1;
    grid-gap: 2%;
    overflow: hidden;
}
.homeitems-left{
    display: grid;
    grid-template-columns: 32% 32% 32%; 
    overflow: hidden;
    grid-gap: 2%;
}
.homeitems-left-in{
    background-color: whitesmoke;
}
.homeitems-img img{
width: 153px;
height: 120px;
object-fit: fill;
}
.homeitems-right-in{
    background-color: whitesmoke;
    padding: 15px;
    text-align: center;
}
.homeitems-right-btn{
  border: none;
  background-color: yellow; 
  width: 50%;
}
.homeitems-right-img{
    align-items: center;
}
.homeitems-right{
    align-items: center;
}

.homeitems-1{
    display: grid;
    grid-gap: 1.5%;
    grid-template-columns:auto auto auto auto;
    margin: 12px;
}
.homeitems-2{
overflow: auto;
margin: 15px;
background-color: whitesmoke;
}

.left-arrow{
    height:70px;
    border: none;
    align-self: center;
}
.right-arrow{
    height:70px;
    border: none;
    align-self: center;

}
.left-arrow:hover{
    background-color: rgb(78, 77, 78);

}
.right-arrow:hover{
    background-color: rgb(78, 77, 78);
}
